RewriteEngine On 
RewriteBase /gerejakristuscibinong/ 
RewriteRule ^home$ /gerejakristuscibinong/ [R=301,L] 


# Jika file atau folder asli ada, jangan di-rewrite 
RewriteCond %{REQUEST_FILENAME} !-f 
RewriteCond %{REQUEST_FILENAME} !-d 

RewriteRule ^(.*)$ index.php?url=$1 [L,QSA]
